/* =========================================
Base, Reset, Body, Images globales
   ========================================= */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* Image pleine largeur par défaut */
img {
    display: block;
    width: 100vh;
    max-width: none;
    height: auto;
    object-fit: cover;
}

.trait {
    display: none;
}

