/* =========================================
TYPOGRAPHIE (Titres H1, H2)
   ========================================= */
h1, h2 {
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

  /* Style pour les spans afin de reproduire l'effet de l'image */
  .highlighted-text span {
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    padding: 0.2em 0; /* Ajoute un peu d'espace au-dessus et en dessous */
    /* box-decoration-break: clone; assure que le style est appliqué à chaque ligne */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: 'Zilla Slab', serif;; /* Police avec empattement, similaire à l'exemple */
    font-size: 1.2em; /* Ajuster la taille selon les besoins */
  }

  /* Centrer le texte pour le résultat final */
  .highlighted-text {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6; /* Espace entre les lignes */
  }